<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.fio + ', ' + person.yearOfBirth}"></p><br>

<div th:if="${#lists.isEmpty(books)}">
    <p>Человек пока не взял ни одной книги</p>
    <hr>
</div>

<div th:unless="${#lists.isEmpty(books)}">
    <hr>
    <b>Книги: </b>
    <br>
    <table th:each="book : ${books}">
        <tr th:text="${book.title + ', ' + book.author + ', ' + book.year}"></tr>
    </table>
    <hr>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.id})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.id})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>